In [99]:
# importing necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [100]:
import xgboost as xg
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [101]:
# importing dataset
train = pd.read_csv('TRAIN.csv')
test = pd.read_csv('TEST_FINAL.csv')
train.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1000001,1,S1,L3,R1,2018-01-01,1,Yes,9,7011.84
1,T1000002,253,S4,L2,R1,2018-01-01,1,Yes,60,51789.12
2,T1000003,252,S3,L2,R1,2018-01-01,1,Yes,42,36868.20
3,T1000004,251,S2,L3,R1,2018-01-01,1,Yes,23,19715.16
4,T1000005,250,S2,L3,R4,2018-01-01,1,Yes,62,45614.52

In [102]:
test.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount
0,T1188341,171,S4,L2,R3,2019-06-01,0,No
1,T1188342,172,S1,L1,R1,2019-06-01,0,No
2,T1188343,173,S4,L2,R1,2019-06-01,0,No
3,T1188344,174,S1,L1,R4,2019-06-01,0,No
4,T1188345,170,S1,L1,R2,2019-06-01,0,No

In [103]:
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188340 entries, 0 to 188339
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             188340 non-null  object
 1   Store_id       188340 non-null  int64
 2   Store_Type     188340 non-null  object
 3   Location_Type  188340 non-null  object
 4   Region_Code    188340 non-null  object
 5   Date           188340 non-null  object
 6   Holiday        188340 non-null  int64
 7   Discount       188340 non-null  object
 8   #Order         188340 non-null  int64
 9   Sales          188340 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 14.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22265 entries, 0 to 22264
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             22265 non-null  object
 1   Store_id       22265 non-null  int64
 2   Store_Type     22265 non-null  object
 3   Location_Type  22265 non-null  object
 4   Region_Code    22265 non-null  object
 5   Date           22265 non-null  object
 6   Holiday        22265 non-null  int64
 7   Discount       22265 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.4+ MB
None

In [104]:
train['Year'] = [i[0] for i in train.Date.str.split('-').values]
test['Year'] = [i[0] for i in test.Date.str.split('-').values]

train['Month'] = [i[1] for i in train.Date.str.split('-').values]
test['Month'] = [i[1] for i in test.Date.str.split('-').values]

train['Day'] = [i[1] for i in train.Date.str.split('-').values]
test['Day'] = [i[1] for i in test.Date.str.split('-').values]

In [105]:
# train['Year'] = train['Year'].astype('int64')
# test['Year']=test['Year'].astype('int64')

# train['Month'] = train['Month'].astype('int64')
# test['Month']=test['Month'].astype('int64')

# train['Day'] = train['Day'].astype('int64')
# test['Day']=test['Day'].astype('int64')

In [106]:
train = train.drop(['ID','#Order', 'Date'], axis=1)
test = test.drop(['ID','Date'], axis=1)

In [107]:
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188340 entries, 0 to 188339
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Store_id       188340 non-null  int64
 1   Store_Type     188340 non-null  object
 2   Location_Type  188340 non-null  object
 3   Region_Code    188340 non-null  object
 4   Holiday        188340 non-null  int64
 5   Discount       188340 non-null  object
 6   Sales          188340 non-null  float64
 7   Year           188340 non-null  object
 8   Month          188340 non-null  object
 9   Day            188340 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 14.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22265 entries, 0 to 22264
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Store_id       22265 non-null  int64
 1   Store_Type     22265 non-null  object
 2   Location_Type  22265 non-null  object
 3   Region_Code    22265 non-null  object
 4   Holiday        22265 non-null  int64
 5   Discount       22265 non-null  object
 6   Year           22265 non-null  object
 7   Month          22265 non-null  object
 8   Day            22265 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.5+ MB
None

In [108]:
train.head()

,Store_id,Store_Type,Location_Type,Region_Code,Holiday,Discount,Sales,Year,Month,Day
0,1,S1,L3,R1,1,Yes,7011.84,2018,01,01
1,253,S4,L2,R1,1,Yes,51789.12,2018,01,01
2,252,S3,L2,R1,1,Yes,36868.20,2018,01,01
3,251,S2,L3,R1,1,Yes,19715.16,2018,01,01
4,250,S2,L3,R4,1,Yes,45614.52,2018,01,01

In [109]:
obj_col = train.loc[:, train.dtypes == object]
dummy = pd.get_dummies(obj_col, drop_first=True)
dummy

,Store_Type_S2,Store_Type_S3,Store_Type_S4,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,Region_Code_R2,Region_Code_R3,Region_Code_R4,...,Day_03,Day_04,Day_05,Day_06,Day_07,Day_08,Day_09,Day_10,Day_11,Day_12
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188335,1,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
188336,0,0,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
188337,0,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
188338,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
188339,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [110]:
date_col = train.loc[:, ['Year', 'Month', 'Day']]
date_col

        Year Month Day
0       2018    01  01
1       2018    01  01
2       2018    01  01
3       2018    01  01
4       2018    01  01
...      ...   ...  ..
188335  2019    05  05
188336  2019    05  05
188337  2019    05  05
188338  2019    05  05
188339  2019    05  05

[188340 rows x 3 columns]

In [115]:
date_col['Day'].value_counts()

05    22630
03    22630
01    22630
04    21900
02    20440
07    11315
08    11315
12    11315
10    11315
11    10950
09    10950
06    10950
Name: Day, dtype: int64

In [118]:
date_dummy = pd.get_dummies(date_col, drop_first=True)
date_dummy.head()

,Year_2019,Month_02,Month_03,Month_04,Month_05,Month_06,Month_07,Month_08,Month_09,Month_10,...,Day_03,Day_04,Day_05,Day_06,Day_07,Day_08,Day_09,Day_10,Day_11,Day_12
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [119]:
date_dummy.columns =['Year', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'M10', 'M11', 'D1', 'D2',
                     'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11']
date_dummy.head()

,Year,M1,M2,M3,M4,M5,M6,M7,M8,M9,...,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [120]:
train = pd.concat([train, dummy, date_dummy], axis=1)
train.head()

,Store_id,Store_Type,Location_Type,Region_Code,Holiday,Discount,Sales,Year,Month,Day,...,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11
0,1,S1,L3,R1,1,Yes,7011.84,2018,01,01,...,0,0,0,0,0,0,0,0,0,0
1,253,S4,L2,R1,1,Yes,51789.12,2018,01,01,...,0,0,0,0,0,0,0,0,0,0
2,252,S3,L2,R1,1,Yes,36868.20,2018,01,01,...,0,0,0,0,0,0,0,0,0,0
3,251,S2,L3,R1,1,Yes,19715.16,2018,01,01,...,0,0,0,0,0,0,0,0,0,0
4,250,S2,L3,R4,1,Yes,45614.52,2018,01,01,...,0,0,0,0,0,0,0,0,0,0

In [121]:
train = train.drop(list(obj_col.columns), axis=1)
train.head()

,Store_id,Holiday,Sales,Store_Type_S2,Store_Type_S3,Store_Type_S4,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,...,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11
0,1,1,7011.84,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,253,1,51789.12,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,252,1,36868.20,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,251,1,19715.16,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,250,1,45614.52,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [122]:
X = train.drop('Sales', axis=1)
y = train.Sales

In [123]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)

In [124]:
X_train.shape, y_train.shape

((131838, 58), (131838,))

In [125]:
X_train.columns

Index(['Store_id', 'Holiday', 'Store_Type_S2', 'Store_Type_S3',
       'Store_Type_S4', 'Location_Type_L2', 'Location_Type_L3',
       'Location_Type_L4', 'Location_Type_L5', 'Region_Code_R2',
       'Region_Code_R3', 'Region_Code_R4', 'Discount_Yes', 'Year_2019',
       'Month_02', 'Month_03', 'Month_04', 'Month_05', 'Month_06', 'Month_07',
       'Month_08', 'Month_09', 'Month_10', 'Month_11', 'Month_12', 'Day_02',
       'Day_03', 'Day_04', 'Day_05', 'Day_06', 'Day_07', 'Day_08', 'Day_09',
       'Day_10', 'Day_11', 'Day_12', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7',
       'M8', 'M9', 'M10', 'M11', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7',
       'D8', 'D9', 'D10', 'D11'],
      dtype='object')

In [136]:
help(boost)

Help on XGBRegressor in module xgboost.sklearn object:

class XGBRegressor(XGBModel, sklearn.base.RegressorMixin)
 |  XGBRegressor(*, objective='reg:squarederror', **kwargs)
 |
 |  Implementation of the scikit-learn API for XGBoost regression.
 |
 |
 |  Parameters
 |  ----------
 |
 |      n_estimators : int
 |          Number of gradient boosted trees.  Equivalent to number of boosting
 |          rounds.
 |
 |      max_depth : int
 |          Maximum tree depth for base learners.
 |      learning_rate : float
 |          Boosting learning rate (xgb's "eta")
 |      verbosity : int
 |          The degree of verbosity. Valid values are 0 (silent) - 3 (debug).
 |      objective : string or callable
 |          Specify the learning task and the corresponding learning objective or
 |          a custom objective function to be used (see note below).
 |      booster: string
 |          Specify which booster to use: gbtree, gblinear or dart.
 |      tree_method: string
 |          Specify which tree method to use.  Default to auto.  If this parameter
 |          is set to default, XGBoost will choose the most conservative option
 |          available.  It's recommended to study this option from parameters
 |          document.
 |      n_jobs : int
 |          Number of parallel threads used to run xgboost.  When used with other Scikit-Learn
 |          algorithms like grid search, you may choose which algorithm to parallelize and
 |          balance the threads.  Creating thread contention will significantly slow down both
 |          algorithms.
 |      gamma : float
 |          Minimum loss reduction required to make a further partition on a leaf
 |          node of the tree.
 |      min_child_weight : float
 |          Minimum sum of instance weight(hessian) needed in a child.
 |      max_delta_step : float
 |          Maximum delta step we allow each tree's weight estimation to be.
 |      subsample : float
 |          Subsample ratio of the training instance.
 |      colsample_bytree : float
 |          Subsample ratio of columns when constructing each tree.
 |      colsample_bylevel : float
 |          Subsample ratio of columns for each level.
 |      colsample_bynode : float
 |          Subsample ratio of columns for each split.
 |      reg_alpha : float (xgb's alpha)
 |          L1 regularization term on weights
 |      reg_lambda : float (xgb's lambda)
 |          L2 regularization term on weights
 |      scale_pos_weight : float
 |          Balancing of positive and negative weights.
 |      base_score:
 |          The initial prediction score of all instances, global bias.
 |      random_state : int
 |          Random number seed.
 |
 |          .. note::
 |
 |             Using gblinear booster with shotgun updater is nondeterministic as
 |             it uses Hogwild algorithm.
 |
 |      missing : float, default np.nan
 |          Value in the data which needs to be present as a missing value.
 |      num_parallel_tree: int
 |          Used for boosting random forest.
 |      monotone_constraints : str
 |          Constraint of variable monotonicity.  See tutorial for more
 |          information.
 |      interaction_constraints : str
 |          Constraints for interaction representing permitted interactions.  The
 |          constraints must be specified in the form of a nest list, e.g. [[0, 1],
 |          [2, 3, 4]], where each inner list is a group of indices of features
 |          that are allowed to interact with each other.  See tutorial for more
 |          information
 |      importance_type: string, default "gain"
 |          The feature importance type for the feature_importances\_ property:
 |          either "gain", "weight", "cover", "total_gain" or "total_cover".
 |      gpu_id :
 |          Device ordinal.
 |      validate_parameters :
 |          Give warnings for unknown parameter.
 |
 |      \*\*kwargs : dict, optional
 |          Keyword arguments for XGBoost Booster object.  Full documentation of
 |          parameters can be found here:
 |          https://github.com/dmlc/xgboost/blob/master/doc/parameter.rst.
 |          Attempting to set a parameter via the constructor args and \*\*kwargs
 |          dict simultaneously will result in a TypeError.
 |
 |          .. note:: \*\*kwargs unsupported by scikit-learn
 |
 |              \*\*kwargs is unsupported by scikit-learn.  We do not guarantee
 |              that parameters passed via this argument will interact properly
 |              with scikit-learn.
 |
 |          .. note::  Custom objective function
 |
 |              A custom objective function can be provided for the ``objective``
 |              parameter. In this case, it should have the signature
 |              ``objective(y_true, y_pred) -> grad, hess``:
 |
 |              y_true: array_like of shape [n_samples]
 |                  The target values
 |              y_pred: array_like of shape [n_samples]
 |                  The predicted values
 |
 |              grad: array_like of shape [n_samples]
 |                  The value of the gradient for each sample point.
 |              hess: array_like of shape [n_samples]
 |                  The value of the second derivative for each sample point
 |
 |  Method resolution order:
 |      XGBRegressor
 |      XGBModel
 |      sklearn.base.BaseEstimator
 |      sklearn.base.RegressorMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, objective='reg:squarederror', **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from XGBModel:
 |
 |  apply(self, X, ntree_limit: int = 0, iteration_range: Union[Tuple[int, int], NoneType] = None) -> numpy.ndarray
 |      Return the predicted leaf every tree for each sample.
 |
 |      Parameters
 |      ----------
 |      X : array_like, shape=[n_samples, n_features]
 |          Input features matrix.
 |
 |      ntree_limit : int
 |          Limit number of trees in the prediction; defaults to 0 (use all trees).
 |
 |      Returns
 |      -------
 |      X_leaves : array_like, shape=[n_samples, n_trees]
 |          For each datapoint x in X and for each tree, return the index of the
 |          leaf x ends up in. Leaves are numbered within
 |          ``[0; 2**(self.max_depth+1))``, possibly with gaps in the numbering.
 |
 |  evals_result(self)
 |      Return the evaluation results.
 |
 |      If **eval_set** is passed to the `fit` function, you can call
 |      ``evals_result()`` to get evaluation results for all passed **eval_sets**.
 |      When **eval_metric** is also passed to the `fit` function, the
 |      **evals_result** will contain the **eval_metrics** passed to the `fit` function.
 |
 |      Returns
 |      -------
 |      evals_result : dictionary
 |
 |      Example
 |      -------
 |
 |      .. code-block:: python
 |
 |          param_dist = {'objective':'binary:logistic', 'n_estimators':2}
 |
 |          clf = xgb.XGBModel(**param_dist)
 |
 |          clf.fit(X_train, y_train,
 |                  eval_set=[(X_train, y_train), (X_test, y_test)],
 |                  eval_metric='logloss',
 |                  verbose=True)
 |
 |          evals_result = clf.evals_result()
 |
 |      The variable **evals_result** will contain:
 |
 |      .. code-block:: python
 |
 |          {'validation_0': {'logloss': ['0.604835', '0.531479']},
 |          'validation_1': {'logloss': ['0.41965', '0.17686']}}
 |
 |  fit(self, X, y, *, sample_weight=None, base_margin=None, eval_set=None, eval_metric=None, early_stopping_rounds=None, verbose=True, xgb_model: Union[xgboost.core.Booster, str, ForwardRef('XGBModel'), NoneType] = None, sample_weight_eval_set=None, base_margin_eval_set=None, feature_weights=None, callbacks=None)
 |      Fit gradient boosting model.
 |
 |      Note that calling ``fit()`` multiple times will cause the model object to be
 |      re-fit from scratch. To resume training from a previous checkpoint, explicitly
 |      pass ``xgb_model`` argument.
 |
 |      Parameters
 |      ----------
 |      X : array_like
 |          Feature matrix
 |      y : array_like
 |          Labels
 |      sample_weight : array_like
 |          instance weights
 |      base_margin : array_like
 |          global bias for each instance.
 |      eval_set : list, optional
 |          A list of (X, y) tuple pairs to use as validation sets, for which
 |          metrics will be computed.
 |          Validation metrics will help us track the performance of the model.
 |      eval_metric : str, list of str, or callable, optional
 |          If a str, should be a built-in evaluation metric to use. See
 |          doc/parameter.rst.
 |          If a list of str, should be the list of multiple built-in evaluation metrics
 |          to use.
 |          If callable, a custom evaluation metric. The call signature is
 |          ``func(y_predicted, y_true)`` where ``y_true`` will be a DMatrix object such
 |          that you may need to call the ``get_label`` method. It must return a str,
 |          value pair where the str is a name for the evaluation and value is the value
 |          of the evaluation function. The callable custom objective is always minimized.
 |      early_stopping_rounds : int
 |          Activates early stopping. Validation metric needs to improve at least once in
 |          every **early_stopping_rounds** round(s) to continue training.
 |          Requires at least one item in **eval_set**.
 |          The method returns the model from the last iteration (not the best one).
 |          If there's more than one item in **eval_set**, the last entry will be used
 |          for early stopping.
 |          If there's more than one metric in **eval_metric**, the last metric will be
 |          used for early stopping.
 |          If early stopping occurs, the model will have three additional fields:
 |          ``clf.best_score``, ``clf.best_iteration`` and ``clf.best_ntree_limit``.
 |      verbose : bool
 |          If `verbose` and an evaluation set is used, writes the evaluation metric
 |          measured on the validation set to stderr.
 |      xgb_model :
 |          file name of stored XGBoost model or 'Booster' instance XGBoost model to be
 |          loaded before training (allows training continuation).
 |      sample_weight_eval_set : list, optional
 |          A list of the form [L_1, L_2, ..., L_n], where each L_i is an array like
 |          object storing instance weights for the i-th validation set.
 |      base_margin_eval_set : list, optional
 |          A list of the form [M_1, M_2, ..., M_n], where each M_i is an array like
 |          object storing base margin for the i-th validation set.
 |      feature_weights: array_like
 |          Weight for each feature, defines the probability of each feature being
 |          selected when colsample is being used.  All values must be greater than 0,
 |          otherwise a `ValueError` is thrown.  Only available for `hist`, `gpu_hist` and
 |          `exact` tree methods.
 |      callbacks : list of callback functions
 |          List of callback functions that are applied at end of each iteration.
 |          It is possible to use predefined callbacks by using :ref:`callback_api`.
 |          Example:
 |
 |          .. code-block:: python
 |
 |              callbacks = [xgb.callback.EarlyStopping(rounds=early_stopping_rounds,
 |                                                      save_best=True)]
 |
 |  get_booster(self)
 |      Get the underlying xgboost Booster of this model.
 |
 |      This will raise an exception when fit was not called
 |
 |      Returns
 |      -------
 |      booster : a xgboost booster of underlying model
 |
 |  get_num_boosting_rounds(self)
 |      Gets the number of xgboost boosting rounds.
 |
 |  get_params(self, deep=True)
 |      Get parameters.
 |
 |  get_xgb_params(self)
 |      Get xgboost specific parameters.
 |
 |  load_model(self, fname)
 |      Load the model from a file.
 |
 |      The model is loaded from an XGBoost internal format which is universal
 |      among the various XGBoost interfaces. Auxiliary attributes of the
 |      Python Booster object (such as feature names) will not be loaded.
 |
 |      Parameters
 |      ----------
 |      fname : string
 |          Input file name.
 |
 |  predict(self, X, output_margin=False, ntree_limit=None, validate_features=True, base_margin=None, iteration_range=None)
 |      Predict with `X`.
 |
 |      .. note:: This function is only thread safe for `gbtree` and `dart`.
 |
 |      Parameters
 |      ----------
 |      X : array_like
 |          Data to predict with
 |      output_margin : bool
 |          Whether to output the raw untransformed margin value.
 |      ntree_limit : int
 |          Deprecated, use `iteration_range` instead.
 |      validate_features : bool
 |          When this is True, validate that the Booster's and data's feature_names are
 |          identical.  Otherwise, it is assumed that the feature_names are the same.
 |      base_margin : array_like
 |          Margin added to prediction.
 |      iteration_range :
 |          Specifies which layer of trees are used in prediction.  For example, if a
 |          random forest is trained with 100 rounds.  Specifying `iteration_range=(10,
 |          20)`, then only the forests built during [10, 20) (half open set) rounds are
 |          used in this prediction.
 |
 |          .. versionadded:: 1.4.0
 |      Returns
 |      -------
 |      prediction : numpy array
 |
 |  save_model(self, fname: str)
 |      Save the model to a file.
 |
 |      The model is saved in an XGBoost internal format which is universal
 |      among the various XGBoost interfaces. Auxiliary attributes of the
 |      Python Booster object (such as feature names) will not be saved.
 |
 |        .. note::
 |
 |          See:
 |
 |          https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html
 |
 |      Parameters
 |      ----------
 |      fname : string
 |          Output file name
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.  Modification of the sklearn method to
 |      allow unknown kwargs. This allows using the full range of xgboost
 |      parameters that are not defined as member variables in sklearn grid
 |      search.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties inherited from XGBModel:
 |
 |  best_iteration
 |
 |  best_ntree_limit
 |
 |  best_score
 |
 |  coef_
 |      Coefficients property
 |
 |      .. note:: Coefficients are defined only for linear learners
 |
 |          Coefficients are only defined when the linear model is chosen as
 |          base learner (`booster=gblinear`). It is not defined for other base
 |          learner types, such as tree learners (`booster=gbtree`).
 |
 |      Returns
 |      -------
 |      coef_ : array of shape ``[n_features]`` or ``[n_classes, n_features]``
 |
 |  feature_importances_
 |      Feature importances property
 |
 |      .. note:: Feature importance is defined only for tree boosters
 |
 |          Feature importance is only defined when the decision tree model is chosen as base
 |          learner (`booster=gbtree`). It is not defined for other base learner types, such
 |          as linear learners (`booster=gblinear`).
 |
 |      Returns
 |      -------
 |      feature_importances_ : array of shape ``[n_features]``
 |
 |  intercept_
 |      Intercept (bias) property
 |
 |      .. note:: Intercept is defined only for linear learners
 |
 |          Intercept (bias) is only defined when the linear model is chosen as base
 |          learner (`booster=gblinear`). It is not defined for other base learner types, such
 |          as tree learners (`booster=gbtree`).
 |
 |      Returns
 |      -------
 |      intercept_ : array of shape ``(1,)`` or ``[n_classes]``
 |
 |  n_features_in_
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.RegressorMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Return the coefficient of determination :math:`R^2` of the
 |      prediction.
 |
 |      The coefficient :math:`R^2` is defined as :math:`(1 - \frac{u}{v})`,
 |      where :math:`u` is the residual sum of squares ``((y_true - y_pred)
 |      ** 2).sum()`` and :math:`v` is the total sum of squares ``((y_true -
 |      y_true.mean()) ** 2).sum()``. The best possible score is 1.0 and it
 |      can be negative (because the model can be arbitrarily worse). A
 |      constant model that always predicts the expected value of `y`,
 |      disregarding the input features, would get a :math:`R^2` score of
 |      0.0.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Test samples. For some estimators this may be a precomputed
 |          kernel matrix or a list of generic objects instead with shape
 |          ``(n_samples, n_samples_fitted)``, where ``n_samples_fitted``
 |          is the number of samples used in the fitting for the estimator.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          True values for `X`.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          :math:`R^2` of ``self.predict(X)`` wrt. `y`.
 |
 |      Notes
 |      -----
 |      The :math:`R^2` score used when calling ``score`` on a regressor uses
 |      ``multioutput='uniform_average'`` from version 0.23 to keep consistent
 |      with default value of :func:`~sklearn.metrics.r2_score`.
 |      This influences the ``score`` method of all the multioutput
 |      regressors (except for
 |      :class:`~sklearn.multioutput.MultiOutputRegressor`).

In [137]:
params = {
    "n_estimators" : [100, 200, 300], 
    "max_depth" : [3, 5, 7, 8],
    "learning_rate" : [0.05, 0.10, 0.15, 0.20],
    "gamma" : [0.0, 0.1, 0.2, 0.3, 0.4], 
    "min_child_weight": [1,3,5,7]
}

In [138]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [126]:
# boost = xg.XGBRegressor(n_estimators=320, max_depth=7, learning_rate=0.1, gamma=1,
#                         booster='gbtree', tree_method='exact', reg_alpha=40, reg_lambda=50)
# boost.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=1, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=7,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=320, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=40, reg_lambda=50, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [139]:
classifier = xg.XGBRegressor()

In [149]:
random_search = RandomizedSearchCV(classifier, param_distributions=params, n_iter=5, n_jobs=-1, cv=2, verbose=3)

In [150]:
random_search.fit(X_train, y_train)

Fitting 2 folds for each of 5 candidates, totalling 10 fits
[CV 2/2] END gamma=0.1, learning_rate=0.2, max_depth=5, min_child_weight=5, n_estimators=300; total time=11.0min
[CV 1/2] END gamma=0.1, learning_rate=0.2, max_depth=5, min_child_weight=5, n_estimators=300; total time=11.1min

RandomizedSearchCV(cv=2,
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_estimators=100, n...
                                          num_parallel_tree=None,
                                          random_state=None, reg_alpha=None,
                                          reg_lambda=None,
                                          scale_pos_weight=None, subsample=None,
                                          tree_method=None,
                                          validate_parameters=None,
                                          verbosity=None),
                   n_iter=5, n_jobs=-1,
                   param_distributions={'gamma': [0.0, 0.1, 0.2, 0.3, 0.4],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2],
                                        'max_depth': [3, 5, 7, 8],
                                        'min_child_weight': [1, 3, 5, 7],
                                        'n_estimators': [100, 200, 300]},
                   verbose=3)

[CV 2/2] END gamma=0.0, learning_rate=0.15, max_depth=7, min_child_weight=7, n_estimators=200; total time=13.0min
[CV 2/2] END gamma=0.4, learning_rate=0.2, max_depth=7, min_child_weight=5, n_estimators=200; total time=13.2min
[CV 1/2] END gamma=0.4, learning_rate=0.2, max_depth=7, min_child_weight=5, n_estimators=200; total time=13.2min
[CV 1/2] END gamma=0.0, learning_rate=0.15, max_depth=7, min_child_weight=7, n_estimators=200; total time=13.2min

In [151]:
random_search.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.1, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.2, max_delta_step=0, max_depth=5,
             min_child_weight=5, missing=nan, monotone_constraints='()',
             n_estimators=300, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [153]:
random_search.best_params_

{'n_estimators': 300,
 'min_child_weight': 5,
 'max_depth': 5,
 'learning_rate': 0.2,
 'gamma': 0.1}

In [155]:
# Randomized parameter
reg = xg.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.1, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.2, max_delta_step=0, max_depth=5,
             min_child_weight=5,
             n_estimators=300, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)
reg.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.1, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.2, max_delta_step=0, max_depth=5,
             min_child_weight=5, missing=nan, monotone_constraints='()',
             n_estimators=300, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [156]:
rmse = np.sqrt(mean_squared_error(y_train, reg.predict(X_train)))
rmse

9917.129022276213

In [157]:
rmse = np.sqrt(mean_squared_error(y_test, reg.predict(X_test)))
rmse

10228.369097129123

[CV 2/2] END gamma=0.1, learning_rate=0.1, max_depth=3, min_child_weight=5, n_estimators=200; total time= 4.1min
[CV 2/2] END gamma=0.4, learning_rate=0.05, max_depth=8, min_child_weight=5, n_estimators=200; total time=13.3min
[CV 1/2] END gamma=0.1, learning_rate=0.1, max_depth=3, min_child_weight=5, n_estimators=200; total time= 4.1min
[CV 1/2] END gamma=0.4, learning_rate=0.05, max_depth=8, min_child_weight=5, n_estimators=200; total time=13.3min

In [129]:
X_train_sm = sm.add_constant(X_train)
LR = sm.OLS(y_train, X_train_sm)
LR_model = LR.fit()

In [130]:
LR_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.569
Model:                            OLS   Adj. R-squared:                  0.569
Method:                 Least Squares   F-statistic:                     6961.
Date:                Sat, 18 Sep 2021   Prob (F-statistic):               0.00
Time:                        15:53:55   Log-Likelihood:            -1.4265e+06
No. Observations:              131838   AIC:                         2.853e+06
Df Residuals:                  131812   BIC:                         2.853e+06
Df Model:                          25
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             3.688e+04    148.862    247.774      0.000    3.66e+04    3.72e+04
Store_id            -0.1568      0.324     -0.484      0.629      -0.792       0.479
Holiday          -7796.6941    100.481    -77.594      0.000   -7993.635   -7599.753
Store_Type_S2    -4811.1755    116.843    -41.176      0.000   -5040.186   -4582.165
Store_Type_S3     4747.4964    111.461     42.593      0.000    4529.035    4965.958
Store_Type_S4     1.354e+04    113.908    118.882      0.000    1.33e+04    1.38e+04
Location_Type_L2  1.048e+04     99.424    105.449      0.000    1.03e+04    1.07e+04
Location_Type_L3 -4527.3583    104.778    -43.209      0.000   -4732.722   -4321.995
Location_Type_L4 -7798.1089    157.747    -49.434      0.000   -8107.290   -7488.928
Location_Type_L5 -1.019e+04    158.874    -64.132      0.000   -1.05e+04   -9877.539
Region_Code_R2    -636.4590     90.065     -7.067      0.000    -812.984    -459.934
Region_Code_R3    -934.8836     95.632     -9.776      0.000   -1122.321    -747.446
Region_Code_R4   -1024.8323    115.521     -8.871      0.000   -1251.251    -798.414
Discount_Yes      1.194e+04     67.301    177.365      0.000    1.18e+04    1.21e+04
Year_2019          771.9080     87.155      8.857      0.000     601.085     942.731
Month_02         -1072.1811     34.960    -30.669      0.000   -1140.702   -1003.660
Month_03         -1012.9878     33.984    -29.808      0.000   -1079.595    -946.381
Month_04          -705.0032     34.317    -20.544      0.000    -772.263    -637.743
Month_05           561.8995     34.080     16.488      0.000     495.103     628.696
Month_06          -141.4792     43.455     -3.256      0.001    -226.649     -56.309
Month_07           232.3006     43.179      5.380      0.000     147.670     316.931
Month_08         -1237.1005     42.921    -28.823      0.000   -1321.225   -1152.976
Month_09         -1058.2713     43.523    -24.315      0.000   -1143.575    -972.968
Month_10         -1296.4086     43.002    -30.147      0.000   -1380.692   -1212.125
Month_11         -1182.8773     43.572    -27.147      0.000   -1268.278   -1097.477
Month_12           402.3436     43.206      9.312      0.000     317.661     487.026
Day_02           -1072.1811     34.960    -30.669      0.000   -1140.702   -1003.660
Day_03           -1012.9878     33.984    -29.808      0.000   -1079.595    -946.381
Day_04            -705.0032     34.317    -20.544      0.000    -772.263    -637.743
Day_05             561.8995     34.080     16.488      0.000     495.103     628.696
Day_06            -141.4792     43.455     -3.256      0.001    -226.649     -56.309
Day_07             232.3006     43.179      5.380      0.000     147.670     316.931
Day_08           -1237.1005     42.921    -28.823      0.000   -1321.225   -1152.976
Day_09           -1058.2713     43.523    -24.315      0.000   -1143.575    -972.968
Day_10           -1296.4086     43.002    -30.147      0.000   -1380.692   -1212.125
Day_11           -1182.8773     43.572    -27.147      0.000   -1268.278   -1097.477
Day_12             402.3436     43.206      9.312      0.000     317.661     487.026
M1               -1072.1811     34.960    -30.669      0.000   -1140.702   -1003.660
M2               -1012.9878     33.984    -29.808      0.000   -1079.595    -946.381
M3                -705.0032     34.317    -20.544      0.000    -772.263    -637.743
M4                 561.8995     34.080     16.488      0.000     495.103     628.696
M5                -141.4792     43.455     -3.256      0.001    -226.649     -56.309
M6                 232.3006     43.179      5.380      0.000     147.670     316.931
M7               -1237.1005     42.921    -28.823      0.000   -1321.225   -1152.976
M8               -1058.2713     43.523    -24.315      0.000   -1143.575    -972.968
M9               -1296.4086     43.002    -30.147      0.000   -1380.692   -1212.125
M10              -1182.8773     43.572    -27.147      0.000   -1268.278   -1097.477
M11                402.3436     43.206      9.312      0.000     317.661     487.026
D1               -1072.1811     34.960    -30.669      0.000   -1140.702   -1003.660
D2               -1012.9878     33.984    -29.808      0.000   -1079.595    -946.381
D3                -705.0032     34.317    -20.544      0.000    -772.263    -637.743
D4                 561.8995     34.080     16.488      0.000     495.103     628.696
D5                -141.4792     43.455     -3.256      0.001    -226.649     -56.309
D6                 232.3006     43.179      5.380      0.000     147.670     316.931
D7               -1237.1005     42.921    -28.823      0.000   -1321.225   -1152.976
D8               -1058.2713     43.523    -24.315      0.000   -1143.575    -972.968
D9               -1296.4086     43.002    -30.147      0.000   -1380.692   -1212.125
D10              -1182.8773     43.572    -27.147      0.000   -1268.278   -1097.477
D11                402.3436     43.206      9.312      0.000     317.661     487.026
==============================================================================
Omnibus:                    41506.645   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           332909.806
Skew:                           1.293   Prob(JB):                         0.00
Kurtosis:                      10.343   Cond. No.                     1.15e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.4e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [131]:
# Checking VIF score so that if any feature score is > 5, we can drop it to improve our model
vif = pd.DataFrame()
vif['Features'] = X_train.columns
vif['VIF'] = [variance_inflation_factor(X_train.values, i) for i in range(X_train.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif.sort_values(by='VIF',ascending=False)

/home/rahul/anaconda3/lib/python3.8/site-packages/statsmodels/stats/outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

            Features   VIF
29            Day_06   inf
30            Day_07   inf
32            Day_09   inf
33            Day_10   inf
34            Day_11   inf
35            Day_12   inf
36                M1   inf
37                M2   inf
38                M3   inf
39                M4   inf
40                M5   inf
41                M6   inf
42                M7   inf
43                M8   inf
44                M9   inf
45               M10   inf
46               M11   inf
47                D1   inf
48                D2   inf
49                D3   inf
50                D4   inf
51                D5   inf
52                D6   inf
53                D7   inf
54                D8   inf
55                D9   inf
56               D10   inf
31            Day_08   inf
57               D11   inf
15          Month_03   inf
14          Month_02   inf
27            Day_04   inf
26            Day_03   inf
25            Day_02   inf
24          Month_12   inf
23          Month_11   inf
22          Month_10   inf
21          Month_09   inf
20          Month_08   inf
19          Month_07   inf
18          Month_06   inf
17          Month_05   inf
16          Month_04   inf
28            Day_05   inf
0           Store_id  3.53
4      Store_Type_S4  2.63
5   Location_Type_L2  2.29
2      Store_Type_S2  1.89
13         Year_2019  1.83
9     Region_Code_R2  1.80
12      Discount_Yes  1.74
10    Region_Code_R3  1.66
8   Location_Type_L5  1.60
6   Location_Type_L3  1.51
11    Region_Code_R4  1.45
3      Store_Type_S3  1.39
7   Location_Type_L4  1.26
1            Holiday  1.18

In [132]:
X_train_sm = X_train_sm.drop('Store_id', axis=1)

In [133]:
LR = sm.OLS(y_train, X_train_sm)
LR_model = LR.fit()

In [134]:
LR_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.569
Model:                            OLS   Adj. R-squared:                  0.569
Method:                 Least Squares   F-statistic:                     7251.
Date:                Sat, 18 Sep 2021   Prob (F-statistic):               0.00
Time:                        15:57:03   Log-Likelihood:            -1.4265e+06
No. Observations:              131838   AIC:                         2.853e+06
Df Residuals:                  131813   BIC:                         2.853e+06
Df Model:                          24
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             3.686e+04    136.228    270.540      0.000    3.66e+04    3.71e+04
Holiday          -7796.7840    100.481    -77.595      0.000   -7993.724   -7599.844
Store_Type_S2    -4816.4570    116.331    -41.403      0.000   -5044.464   -4588.450
Store_Type_S3     4747.5403    111.461     42.594      0.000    4529.080    4966.001
Store_Type_S4     1.354e+04    113.486    119.283      0.000    1.33e+04    1.38e+04
Location_Type_L2  1.049e+04     99.383    105.506      0.000    1.03e+04    1.07e+04
Location_Type_L3 -4529.8126    104.655    -43.283      0.000   -4734.934   -4324.691
Location_Type_L4 -7803.9727    157.280    -49.618      0.000   -8112.238   -7495.707
Location_Type_L5 -1.019e+04    158.769    -64.157      0.000   -1.05e+04   -9874.964
Region_Code_R2    -633.8984     89.909     -7.050      0.000    -810.118    -457.679
Region_Code_R3    -930.0763     95.114     -9.779      0.000   -1116.498    -743.655
Region_Code_R4   -1020.5676    115.183     -8.860      0.000   -1246.324    -794.811
Discount_Yes      1.194e+04     67.300    177.366      0.000    1.18e+04    1.21e+04
Year_2019          771.9721     87.155      8.857      0.000     601.150     942.795
Month_02         -1072.1715     34.960    -30.669      0.000   -1140.692   -1003.651
Month_03         -1013.0054     33.983    -29.809      0.000   -1079.612    -946.398
Month_04          -705.0013     34.317    -20.544      0.000    -772.261    -637.741
Month_05           561.8798     34.080     16.487      0.000     495.083     628.676
Month_06          -141.4534     43.454     -3.255      0.001    -226.623     -56.284
Month_07           232.3265     43.179      5.381      0.000     147.696     316.956
Month_08         -1237.0804     42.921    -28.822      0.000   -1321.205   -1152.956
Month_09         -1058.2721     43.523    -24.315      0.000   -1143.576    -972.969
Month_10         -1296.4095     43.002    -30.148      0.000   -1380.693   -1212.126
Month_11         -1182.9099     43.572    -27.148      0.000   -1268.310   -1097.509
Month_12           402.3673     43.206      9.313      0.000     317.685     487.049
Day_02           -1072.1715     34.960    -30.669      0.000   -1140.692   -1003.651
Day_03           -1013.0054     33.983    -29.809      0.000   -1079.612    -946.398
Day_04            -705.0013     34.317    -20.544      0.000    -772.261    -637.741
Day_05             561.8798     34.080     16.487      0.000     495.083     628.676
Day_06            -141.4534     43.454     -3.255      0.001    -226.623     -56.284
Day_07             232.3265     43.179      5.381      0.000     147.696     316.956
Day_08           -1237.0804     42.921    -28.822      0.000   -1321.205   -1152.956
Day_09           -1058.2721     43.523    -24.315      0.000   -1143.576    -972.969
Day_10           -1296.4095     43.002    -30.148      0.000   -1380.693   -1212.126
Day_11           -1182.9099     43.572    -27.148      0.000   -1268.310   -1097.509
Day_12             402.3673     43.206      9.313      0.000     317.685     487.049
M1               -1072.1715     34.960    -30.669      0.000   -1140.692   -1003.651
M2               -1013.0054     33.983    -29.809      0.000   -1079.612    -946.398
M3                -705.0013     34.317    -20.544      0.000    -772.261    -637.741
M4                 561.8798     34.080     16.487      0.000     495.083     628.676
M5                -141.4534     43.454     -3.255      0.001    -226.623     -56.284
M6                 232.3265     43.179      5.381      0.000     147.696     316.956
M7               -1237.0804     42.921    -28.822      0.000   -1321.205   -1152.956
M8               -1058.2721     43.523    -24.315      0.000   -1143.576    -972.969
M9               -1296.4095     43.002    -30.148      0.000   -1380.693   -1212.126
M10              -1182.9099     43.572    -27.148      0.000   -1268.310   -1097.509
M11                402.3673     43.206      9.313      0.000     317.685     487.049
D1               -1072.1715     34.960    -30.669      0.000   -1140.692   -1003.651
D2               -1013.0054     33.983    -29.809      0.000   -1079.612    -946.398
D3                -705.0013     34.317    -20.544      0.000    -772.261    -637.741
D4                 561.8798     34.080     16.487      0.000     495.083     628.676
D5                -141.4534     43.454     -3.255      0.001    -226.623     -56.284
D6                 232.3265     43.179      5.381      0.000     147.696     316.956
D7               -1237.0804     42.921    -28.822      0.000   -1321.205   -1152.956
D8               -1058.2721     43.523    -24.315      0.000   -1143.576    -972.969
D9               -1296.4095     43.002    -30.148      0.000   -1380.693   -1212.126
D10              -1182.9099     43.572    -27.148      0.000   -1268.310   -1097.509
D11                402.3673     43.206      9.313      0.000     317.685     487.049
==============================================================================
Omnibus:                    41506.669   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           332931.024
Skew:                           1.293   Prob(JB):                         0.00
Kurtosis:                      10.343   Cond. No.                     3.07e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.87e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [52]:
# Checking VIF score so that if any feature score is > 5, we can drop it to improve our model
vif = pd.DataFrame()
vif['Features'] = X_train_sm.columns
vif['VIF'] = [variance_inflation_factor(X_train_sm.values, i) for i in range(X_train_sm.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif.sort_values(by='VIF',ascending=False)

/home/rahul/anaconda3/lib/python3.8/site-packages/statsmodels/stats/outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

            Features          VIF
3              Month          inf
4                Day          inf
0              const  25271661.49
7      Store_Type_S4         2.14
8   Location_Type_L2         1.70
5      Store_Type_S2         1.59
11  Location_Type_L5         1.55
12    Region_Code_R2         1.50
13    Region_Code_R3         1.46
14    Region_Code_R4         1.41
9   Location_Type_L3         1.32
2               Year         1.28
6      Store_Type_S3         1.28
10  Location_Type_L4         1.20
1            Holiday         1.00
15      Discount_Yes         1.00

In [53]:
#X_train_sm = X_train_sm.drop(['Month', 'Day'], axis=1)

In [71]:
X_test_sm = sm.add_constant(X_test)
#X_test_sm = X_test_sm.drop(['Month', 'Day'], axis=1)

In [59]:
X_test_sm = X_test_sm.drop('Store_id', axis=1)

In [54]:
LR = sm.OLS(y_train, X_train_sm)
LR_model = LR.fit()

In [55]:
LR_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.549
Model:                            OLS   Adj. R-squared:                  0.549
Method:                 Least Squares   F-statistic:                 1.232e+04
Date:                Sat, 18 Sep 2021   Prob (F-statistic):               0.00
Time:                        14:59:31   Log-Likelihood:            -1.4295e+06
No. Observations:              131838   AIC:                         2.859e+06
Df Residuals:                  131824   BIC:                         2.859e+06
Df Model:                          13
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -2.411e+06   1.51e+05    -15.928      0.000   -2.71e+06   -2.11e+06
Holiday          -8742.3106    101.003    -86.555      0.000   -8940.275   -8544.347
Year              1211.9547     74.995     16.160      0.000    1064.966    1358.944
Store_Type_S2    -4821.2869    119.046    -40.499      0.000   -5054.614   -4587.960
Store_Type_S3     4755.5065    114.061     41.693      0.000    4531.948    4979.065
Store_Type_S4     1.354e+04    116.135    116.606      0.000    1.33e+04    1.38e+04
Location_Type_L2  1.051e+04    101.702    103.334      0.000    1.03e+04    1.07e+04
Location_Type_L3 -4505.4347    107.097    -42.069      0.000   -4715.342   -4295.527
Location_Type_L4 -7775.0593    160.949    -48.307      0.000   -8090.517   -7459.601
Location_Type_L5 -1.014e+04    162.473    -62.441      0.000   -1.05e+04   -9826.540
Region_Code_R2    -643.1435     92.007     -6.990      0.000    -823.475    -462.812
Region_Code_R3    -941.0848     97.334     -9.669      0.000   -1131.857    -750.313
Region_Code_R4   -1038.3792    117.871     -8.809      0.000   -1269.405    -807.353
Discount_Yes      1.207e+04     68.640    175.788      0.000    1.19e+04    1.22e+04
==============================================================================
Omnibus:                    42079.385   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           322290.012
Skew:                           1.329   Prob(JB):                         0.00
Kurtosis:                      10.184   Cond. No.                     8.96e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.96e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [56]:
# Checking VIF score so that if any feature score is > 5, we can drop it to improve our model
vif = pd.DataFrame()
vif['Features'] = X_train_sm.columns
vif['VIF'] = [variance_inflation_factor(X_train_sm.values, i) for i in range(X_train_sm.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif.sort_values(by='VIF',ascending=False)

            Features          VIF
0              const  19700094.20
5      Store_Type_S4         2.14
6   Location_Type_L2         1.70
3      Store_Type_S2         1.59
9   Location_Type_L5         1.55
10    Region_Code_R2         1.50
11    Region_Code_R3         1.46
12    Region_Code_R4         1.41
7   Location_Type_L3         1.32
4      Store_Type_S3         1.28
8   Location_Type_L4         1.20
1            Holiday         1.00
2               Year         1.00
13      Discount_Yes         1.00

In [68]:
boost = xg.XGBRegressor(n_estimators=320, max_depth=7, learning_rate=0.1, gamma=1,
                        booster='gbtree', tree_method='exact', reg_alpha=40, reg_lambda=50)
boost.fit(X_train_sm, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=1, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=7,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=320, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=40, reg_lambda=50, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [69]:
rmse = np.sqrt(mean_squared_error(y_train, boost.predict(X_train_sm)))
rmse

9835.867208432637

In [72]:
rmse = np.sqrt(mean_squared_error(y_test, boost.predict(X_test_sm)))
rmse

10156.085873616557